/*
CSS LEGEND
==========
1) #struture
2) #skin
*/


/* #structure */


.container {
	width: 80%;
	margin: 0 auto;
}
header a {
	float: left;
	margin: 1em 0 0 1.5em;
}
.header-content {
	float: right;
	margin: 1em 2em 0 0;
}
nav li {
	float: left;
	width: 10%;
	text-align: center;
}
nav li a {
	display: block;
	padding: 0.5em;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.content {
	height: 400px;
	width: 70%;
	float: left;
	margin: 1em 2.5%;
}
.content img {
	width: 150px;
}
aside {
	height: 400px;
	width: 15%;
	float: right;
	margin: 1em 2.5%;
}
aside h4 {
	margin-bottom: 0;
}
aside p {
	margin-top: 0.7em;
}
aside img {
	width: 120px;
	margin-top: 2em;
}
footer {
	width: 80%;
	margin: 0 auto;
	padding: 0.025em 0;
}
footer p {
	margin-left: 1em;
}
iframe {
	width: 80%;
	height: 80%
}

/* #skin */

body {
	background-color: #4c4c4c;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
.container {
	background-color: #fff;
}
p {
	font-size: .85em;
}
aside p {
	font-size: .75em;
}
.tiny-font {
	font-size: .25em;
}
.header-content {
	font-weight: bold;
}
.dark-background-white-font {
	background-color: #204288;
	color: #fff;
}
.dark-font {
	color: #204288;
}
.header-content a { 
	text-decoration: none;
}
.header-content a:hover { 
	text-decoration: underline;
}
li {
	list-style: none;
}
li a {
	text-decoration: none;
	color: #fff;
}
li a:hover {
	background-color: #00aa00;
}
iframe {
	border: none;
}